.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c3400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  justify-content: space-around;
}

.modal {
  position: fixed; /* make the modal a fixed positioned element */
  top: 50%; /* align the modal to the vertical center of the viewport */
  left: 50%; /* align the modal to the horizontal center of the viewport */
  transform: translate(-50%, -50%); /* translate the modal to the center */
  z-index: 999; /* set the modal's z-index higher than the video card's */
  /* other styles */
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 80%;
  height: 80%;
  /* add styles for modal content */
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  /* add styles for close button */
}


.video {
  flex: 0 0 auto;
  position: relative;
  margin-right: 2rem;
  width: 16%;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  flex-basis: calc(15% - 10px);
  margin-bottom: 20px;
}


.video:hover {
  transform: translateY(-5px);
}

.video img {
  width: 100%;
  height: auto;
  padding-bottom: 10%; /* 16:9 aspect ratio */
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.video-info {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}

.video-info h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-info p {
  margin: 0.5rem 0 0;
  font-size: 0.9rem;
  line-height: 1.2;
  color: #666;
}

.video-info button {
  margin-top: 0rem;
  padding: 0.5rem 1rem;
  background-color: #2b3f53;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.video-info button:hover {
  background-color: #1b0020;
}


/* for search bar  */
header {
  background-color: #1c1c1c00;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

header form {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

header input[type='text'] {
  font-size: 1rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

header select {
  font-size: 1rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

header button[type='submit'] {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #ff0000;
  color: white;
}

header button {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #2d2d2d;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

header button:hover {
  background-color: #1c1c1c;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
}


.search-bar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  margin-bottom: 1rem;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
}

.search-bar select {
  padding: 0.5rem;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #f2f2f2;
  font-size: 1rem;
}

.search-bar button[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.search-bar button[type="submit"]:hover {
  background-color: #d32f2f;
}

.user-dropdown {
  position: relative;
}

.user-dropdown button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: transparent;
  color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.user-dropdown button:hover {
  background-color: #f2f2f2;
}

.user-dropdown .dropdown-menu {
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 0;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  display: none;
}

.user-dropdown .dropdown-menu.show {
  display: block;
  animation: slide-in 0.2s ease-in-out;
}

.user-dropdown .dropdown-menu a {
  display: block;
  padding: 0.5rem 1rem;
  color: #333;
  font-size: 0.9rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.user-dropdown .dropdown-menu a:hover {
  background-color: #f2f2f2;
}

@keyframes slide-in {
  from {
    transform: translateY(-0.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../pexels-felix-mittermeier-956999.jpg');
  /* background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/f1c3c4eb-2fea-42c7-9ebd-1c093bd8a69d/2ca6fba7-5902-4b3b-8f40-bc4e500e84a5/US-en-20230403-popsignuptwoweeks-perspective_alpha_website_large.jpg); */
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-size: cover;
  /* filter: blur(4px); */
}

/* settings */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.fa-caret-down, .fa-caret-up {
  margin-left: 5px;
  font-size: 12px;
}

.fa-caret-down {
  display: inline-block;
  transform: rotate(180deg);
}

.fa-caret-up {
  display: none;
}


/* table */
table {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
  max-width: 800px;
  font-size: 18px;
  background-color: #00000089;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table,
th,
td {
  color: rgb(255, 255, 255);
}